fiona
future  # python2 only packages
jinja2
lxml
matplotlib  # only required for some snippets
numpy
pandas  # only required for snippets.stat_diff_calculs
pydot  # only required for crue10.modele.Modele.write_topological_graph
seaborn  # only required for snippets.stat_diff_calculs
shapely